<div class="container-fullscreen">
  <div class="form-container-criteria-slider ">
    <h2 class="mb-4 text-center trip-header">Choose your mystery level</h2>
    <div class="tabs-container mt-3">
      <div class="tab-button">1</div>
      <hr>
      <div class="tab-button">2</div>
      <hr>
      <div class="tab-button">3</div>
      <hr>
      <div class="tab-button tab-active" id="go-button">Go</div>
    </div>
    <div class="d-flex justify-content-center">
      <div class="container mt-3">
        <!-- Planning 1 -->
        <%= simple_form_for @trip, :url => change_mistery_trip_path(@trip), :method => :patch do |f| %>
        <!-- Inject fixed activities -->
        <!-- slider if no activities to choose -->
        <!-- culture to choose -->
        <div class="mistery-choices">
          <div class="mistery-choices-row-three">
            <div class="form-group">
              <!-- <input type="hidden" name="activities_ids[]" value=""> -->
              <!-- <div class="activity-choices"> -->
              <div class="card col-sm-8 mb-5 parent-class-mistery margin-none padding-none card-mistery">
                <input type="checkbox"class="hidden check-mistery" value="0" name="trip[percentage_of_mistery]" id="mistery-percentage-zero">
                <label for="mistery-percentage-zero" class="activity-choice mistery-choice card-title margin-none pb-2">
                  <%= image_tag 'dome.png', class: "card-img-top" %>
                  <div class="mt-2"> No mystery </div>
                </label>
              </div>
            </div>
            <div class="form-group">
              <!-- <input type="hidden" name="activities_ids[]" value=""> -->
              <!-- <div class="activity-choices"> -->
              <div class="card col-sm-8 mb-5 parent-class-mistery margin-none padding-none card-mistery" >
                <input type="checkbox"class="hidden check-mistery" value="25" name="trip[percentage_of_mistery]" id="mistery-percentage-25">
                <label for="mistery-percentage-25" class="activity-choice mistery-choice card-title margin-none pb-2">
                  <%= image_tag 'dome25.png', class: "card-img-top" %>
                  <div class="mt-2"> 25% of mystery </div>
                </label>
              </div>
            </div>
            <div class="form-group">
              <!-- <input type="hidden" name="activities_ids[]" value=""> -->
              <!-- <div class="activity-choices"> -->
              <div class="card col-sm-8 mb-5 parent-class-mistery margin-none padding-none card-mistery" >
                <input type="checkbox"class="hidden check-mistery" value="50" name="trip[percentage_of_mistery]" id="mistery-percentage-50">
                <label for="mistery-percentage-50" class="activity-choice mistery-choice card-title margin-none pb-2">
                  <%= image_tag 'dome50.png', class: "card-img-top" %>
                  <div class="mt-2"> 50% of mystery</div>
                </label>
              </div>
            </div>
          </div>
          <div class="mistery-choices-row-two">
            <div class="form-group">
              <!-- <input type="hidden" name="activities_ids[]" value=""> -->
              <!-- <div class="activity-choices"> -->
              <div class="card  mb-5 parent-class-mistery margin-none card-between-cards imposed-width card-mistery">
                <input type="checkbox"class="hidden check-mistery" value="75" name="trip[percentage_of_mistery]" id="mistery-percentage-75">
                <label for="mistery-percentage-75" class="activity-choice mistery-choice card-title margin-none pb-2 card-mistery">
                  <%= image_tag 'dome75.png', class: "card-img-top" %>
                  <div class="mt-2"> 75% of mystery </div>
                </label>
              </div>
            </div>
            <div class="form-group">
              <!-- <input type="hidden" name="activities_ids[]" value=""> -->
              <!-- <div class="activity-choices"> -->
              <div class="card  mb-5 parent-class-mistery margin-none imposed-width card-mistery">
                <input type="checkbox"class="hidden check-mistery" value="100" name="trip[percentage_of_mistery]" id="mistery-percentage-100">
                <label for="mistery-percentage-100" class="activity-choice mistery-choice card-title margin-none pb-2">
                  <%= image_tag 'dome100.png', class: "card-img-top" %>
                  <div class="mt-2"> Total mystery </div>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="fix-button-position">
          <%= f.submit "Go", class: "btn green-btn btn-position"  %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
